<form action="/flowers" method="post">
    <div>
        <label>
            <input type="text" name = "name" />
        </label>
    </div>
        <label>
            <input type="text" name = "count" />  
        </label>
    <div>
        <label>
            <input type="text" name = "price" />  
        </label>
    </div>
    <input type = "submit" value = "Add flower">
</form>
<body>
    {% for flower in flowers %}
        <tr>
            <td>
                <p>{{ flower.name }}</p>
            </td>
        </tr>
    {% endfor %}
</body>